/* add styles here */
body
{
	background-color: black;
	font: 1em Helvetica, sans-serif;
	color: green;
}
input
{
	width:100%;
	background-color: black;
	font: 1em Helvetica, sans-serif;
	color: green;
	border-width: 1px;
    border-color: gray;
}

h1 {
	margin-top: 0;
}

form {
	padding: 4px;
	margin: 6px;
	background-color: black;
	color: green;
}

label {
    display: block;
}

textarea {
    background-color: black;
    color: green;
	width:100%
}
ul {
	list-style: none;
}

li {
    display: inline;
    padding-right: 10px;
}

a:visited, a:link {
    color: green;
    text-decoration: none
}
table
{
	border:2px solid red;
	width:100%;
	padding: 4px;
	margin: 6px;
}
tr
{
	border:2px solid red;
	width : 100%;
}
th
{
	border:2px solid red;
}
td
{
	border:2px solid red;
}
